CommonsANE/CommonsANE.xcodeproj/xcuserdata/emck.xcuserdatad
CommonsDemo/CommonsDemo.xcodeproj/xcuserdata/emck.xcuserdatad
CommonsSDK/CommonsSDK.xcodeproj/xcuserdata/emck.xcuserdatad
CommonsSDK/CommonsSDK.embeddedframework
CommonsANE.xcworkspace/xcuserdata/emck.xcuserdatad
FlexANE/.metadata
FlexANE/CommonsANE/bin
FlexANE/DemoApp/libs/CommonsANE.ane
FlexANE/DemoApp/bin-debug
